<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <h1>Hiii bakend</h1>
    <small>hii poppyyy</small>

    <form action="/get-from-data" method="post">
        <!-- // kis route p data jaane wala hai -->

        <input type="text" name="username" placeholder="enter username">
        <input type="text" name="email" placeholder="enter user email"> <!-- name dena mendetory hai  -->
        <input type="password" name="password" placeholder="enter password">
        <button>submit</button>
    </form>
    <script src="index.js"></script>
</body>

</html>